sdk.dir=/path/to/Android/sdk
OPENAI_API_KEY=
LOST_PHONE_EMAIL_TO=
LOST_PHONE_EMAIL_FROM=
LOST_PHONE_SMTP_HOST=smtp.gmail.com
LOST_PHONE_SMTP_PORT=587
LOST_PHONE_SMTP_USERNAME=
LOST_PHONE_SMTP_PASSWORD=
LOST_MODE_SECRET_CODE=
